In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
%matplotlib inline
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import seaborn as sns

In [6]:
df_salary = pd.read_csv('salary.csv')
df_salary = df_salary.drop(['degree','otherqual','position','male'], axis=1)
df_salary.head()

    salary  exprior  yearsworked  yearsrank  market  Field  yearsabs
0  53000.0        0            0          0    1.17      3         0
1  58000.0        1            0          0    1.24      2         0
2  45500.0        0            0          0    1.21      3         2
3  35782.0        0            2          1    0.99      4         1
4  34731.0        0            2          2    0.91      4         1

In [7]:
#defining the y variable
y = df_salary.salary

#splitting dataset into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(df_salary, y, test_size=0.3, random_state = 0)
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(359, 7) (359,)
(155, 7) (155,)